body{
    font-style: italic;
    font-size:10px;
    padding-right: 40px;
    background-color: grey;
 } 

.navbars{
    position: fixed;
    top: 0;
    left:0;
    width: 100;
    height: 100px;
    box-sizing: border-box;
    padding-left: 50%;
    
}

.navbars nav ul{
    list-style:none ;
    float:left;
    margin: 0;
    padding: 0%;
    display: flex;
    color: rgb(128, 0, 79);
  


}
.navbars nav ul a{

    color:rgb(128, 0, 79);
     text-decoration: none;
     text-transform: uppercase;
     font-style: normal;
     font-size: 18px;   
     text-align: center;
     font-weight: bold;
     margin-left: 11%;
     font-style: normal;



}
 a:hover{
    background-color:#F0F0F2;
     cursor: pointer; 

}


.column{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 60px; 
    font-style: normal;
    color: #CF3D76;

   

}
.card-group{
    padding-top: 5%;
    
}
.card-body{
    padding-top: 5%;
    width: 40%;
}
 #head{
    padding-left: 2%;
    color:#CF3D76;
    font-size: 26px;
    
} 
.card-text{
    color: #CF3D76;
    font-weight: bold;
    font-size: 12px;
    
}

.card-img-top{
    padding-left: 10%;
    border-radius: 10px;
    transition: 1s;
    /* width: 20%; */
}

.card:hover{
    cursor: pointer;
    transform: scale(0.9);
    z-index: 1; 
    
}